<div ng-controller="itechCtrl" style="margin-top:10px;">

<div class="container-fluid">
 <!-- Start of row  --> 
  <div class="row">
	<div class="col-md-12" style="padding:0px;margin:0px;">
		
			<img src="images/about_us.jpg" id="about_us"/>  
		
	</div>
  <div class="col-xs-3"  style="padding:0px;">
	<div class="panel panel-default" style="margin-top:90px;">
					<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h3><span style="color:blue;">
							About us</span></h3>
    						   <ul style="padding:0px;">						
									<li class="list-group-item-success"><a href="#/about_us">Itech Software Solution</a></li><br>
									<li class="list-group-item-info"><a href="#/business_strategies">Business Strategies</a></li><br>
									<li class="list-group-item-success"><a href="#/vision">Itech Vision</a></li>
								</ul>
    					</div>
    				</div>
  </div><!-- End of col-xs-3  -->

  <div class="col-xs-6">
	
  <div class="page-header">
    <span style="font-size:20px;">About ITech</span>            
  </div>
  <div style="font-family: verdana,arial,helvetica,sans-serif;">
  <p>ITech, the global IT solution provider of end-to-end, innovative, cutting edge software solutions.
  </p>      
  <p>ITech is one of the preeminent hi-tech IT and consulting organization. ITech brings you the best practices, technologies and business models that can help you stay ahead in a changing economy and marketplace. ITechs' IT and software solutions effectively respond to rapidly changing global IT needs. We acts as a trusted advisor to our clients, providing a full range of IT and management consulting services, including IT strategic planning, staffing, business process engineering and systems architecture.
  </p>
  <p>Our technology offerings are organized into Development, Maintenance, Re-engineering, BI & DW, ERP, CRM, SCM, eBusiness, QA, Validation and Verification services.
  </p>
  </div>
  </div>

  <div class="col-xs-3">
  <div  id="about_us" style="margin-top:90px;">
  <img src="images/img_aboutus.jpg" id="about_us"/>
  "We always aim to exceed our client's expectations "
  </div>
  <div  id="about_us" style="margin-top:40%;">
  <img src="images/about.jpg" id="about_us"/>
  "Good business always needs very good service "
  </div>
  </div>

  </div>
  <!-- End of row  -->
</div>
<div><br><br>