<div ng-controller="itechCtrl" style="margin-top:10px;">
		<div class="col-md-12" style="padding:0px;margin:0px;">
		
			<img src="images/service.jpg" id="about_us" style="height:300px;"/> 
		
		</div>
<div class="container-fluid">
 <!-- Start of row  --> 
  <div class="row">

  <div class="col-xs-3" style="margin-top:90px;padding:0px;font-family:serif;">
				<div class="panel panel-default">
					<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h3><span style="color:blue;">
							Our Services</span></h3>
    							<ul style="padding:0px;">						
									<li class="list-group-item-success"><a href="#/service">Techology Offering</a></li><br>
									<li class="list-group-item-info"><a href="#/service_erp">ERP Solutions</a></li><br>
									<li class="list-group-item-info"><a href="#/consulting">Consulting Services</a></li><br>
									<li class="list-group-item-info"><a href="#/quality">Quality Assurance</a></li><br>
									<li class="list-group-item-success"><a href="#/analysis">Business Analysis</a></li>
								</ul>							
    					</div>
    				</div>
  </div>

  <div class="col-xs-6">
	
  <div class="page-header">
	<span style="font-size:20px;">Business Analysis And Solution</span>
	
  </div>
  <div style="font-family: verdana,arial,helvetica,sans-serif;">
  <p>
  ITech has been actively working in Testing Services since it's inception. It has gained in-depth domain expertise and product knowledge over the years. ITech provides a complete solution to your software quality needs. 
  </p>
  <p>
  Today organizations worldwide are planning, building and implementing integrated multi-channel eBusiness solutions using the right technologies. 
  </p>  
  <span style="color:blue;font-size:15px;">Stratrgies And Standards</span>
  <ul style="list-style-type: square;line-height:25px;list-style-image: url('images/arrow_right.gif');"><br>
	<li>Business Re-Engineering</li>
	<li>Customer consulting and customer service</li>
	<li>Enterprise Resource Planning</li>
	<li>Facilities Management</li>
	<li>IT Procurement</li>
	<li>ITS Network support</li>
	<li>Project Management</li>
	<li>Supply chain management</li>
  </ul>
  
  </div>
  </div>

  <div class="col-xs-3" style="margin-top:90px;padding:0px;">
		<div style="height: 150px;width:100%;">
		<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
			<uib-slide ng-repeat="service in erp">
			<img ng-src="{{service.image}}" style="width:100%;height:150px;">
				
			</uib-slide>
		</uib-carousel>
	</div>
	<div style="margin-top:20%;">
	<div class="panel panel-info">
      <div class="panel-heading">Our Team Belives</div>
      <div class="panel-body">
	  <ul style="padding-left:0px;list-style-image: url('images/arrow_right.gif');">
	  <li>Focus on personalization</li>
	  <li>Strategy and road map formulation</li>
	  <li>Solution architecting</li>
	  <li>Solution building or integration</li>
	  </ul>
	  </div>
    </div>
	</div>
  </div>

  </div>
  <!-- End of row  -->
</div>
<div class="row"><hr>
    			<div class="col-sm-4">
    				<div class="panel panel-default">
			<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h4><span class="label label-primary">
							Business Qoute</span></h4><br>
    						<p>
							" Our business in life is not to get ahead of others, but to get ahead of ourselves -- to break our own records, to outstrip our yesterday by our today"
							</p>
    					</div>
    				</div>
    			</div>

    			<div class="col-sm-4">
    				<div class="panel panel-default">
					<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h4><span class="label label-info">
							Business E-ffort</span></h4>
    						<p>
							" In the end, all business operations can be reduced to three words: people, product and profits. Unless you've got a good team, you can't do much with the other two "
							</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-sm-4">
    				<div class="panel panel-default">
					<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h4><span class="label label-primary">
							Business Goal</span></h4><br>
    						<p>
							" We tries to find out -  What our customer want most
							and what our company does best.<br>
							Focus on where those 
							two meet "
							</p>
    					</div>
    				</div>
    			</div>
    		</div><!-- end of row -->

<div><br>