<div ng-controller="itechCtrl" style="margin-top:10px;">

<div class="container-fluid">
 <!-- Start of row  --> 
  <div class="row">
		<div class="col-md-12" style="padding:0px;margin:0px;">
		
			<img src="images/about_us.jpg" id="about_us"/>  
		
	</div>
  <div class="col-xs-3">
	<div class="panel panel-default" style="margin-top:100px;">
					<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h3><span style="color:blue;">
							About us</span></h3>
    						   <ul style="padding:0px;">						
									<li class="list-group-item-success"><a href="#/about_us">Itech Software Solution</a></li><br>
									<li class="list-group-item-info"><a href="">Business Strategies</a></li><br>
									<li class="list-group-item-success"><a href="#/vision">Itech Vision</a></li>
								</ul>
    					</div>
    				</div>
  </div><!-- End of col-xs-3  -->

  <div class="col-xs-8">
	
  <div class="page-header">
    <span style="font-size:20px;">About Our Business Strategies</span>      
  </div>
  <div style="font-family: verdana,arial,helvetica,sans-serif;">
  <p>
  ITech's competitive advantage and the source of great value to our customers come not only from our expertise in e-business and application management, but from several aspects of our unique business model.
  </p>      
  <p>Today organizations worldwide are planning, building and implementing integrated multi-channel eBusiness solutions using the right technologies
  </p>
  <p><span style="font-family:serif;color:green;">We Believes In E-Business.</span><br>E-Business offers you a very new wide range of opportunities and channels to make revenues for your company. Your company can exploit the ubiquitous, global nature of the World Wide Web to access new customers in new markets almost as easily as they serve local customers. Companies are increasing investment on e-business applications and taking steps to shore up their security to give customers and business partners peace of mind. Java R&D Labs helps you to take up the challenge for e-businesses and generate revenues in an integrated fashion and turn those revenues into profits.
  </p>
  </div>
  </div>

  <div class="col-xs-1">
  
  </div>

  </div>
  <!-- End of row  -->
</div>
<div><br>