<div ng-controller="itechCtrl" style="margin-top:10px;">

<div class="container-fluid">
 <!-- Start of row  --> 
  <div class="row">
	<div class="col-md-12" style="padding:0px;margin:0px;">
		
			<img src="images/why.jpg" id="about_us"/>  
		
	</div>
  <div class="col-xs-3"  style="padding:0px;">
	<div class="panel panel-default" style="margin-top:90px;">
					<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h3><span style="color:blue;">
							About us</span></h3>
    						   <ul style="padding:0px;">						
									<li class="list-group-item-success"><a href="#/why">ITech Info</a></li><br>
									<li class="list-group-item-info"><a href="#/clients">Our Clients</a></li><br>
								</ul>
    					</div>
    				</div>
  </div><!-- End of col-xs-3  -->

  <div class="col-xs-6">	
  <div class="page-header">
    <span style="font-size:20px;">Why to join ITech</span>            
  </div>
  <div style="font-family: verdana,arial,helvetica,sans-serif;">
  <p>We feel we can reach our continued growth, by focusing and assisting our clients to meet their technological goals and objectives at a reasonable price. One common purpose of our management & staff is to ensure that every client reaches a maximum return on their technology investment dollar. When you start with ITech, you'll stay with ITech - the reasons clients start with us and the reasons they stay with us aren't always the same. But they're all part of the ITech experience.
  </p>      
  <p>The benefits you derive as an ITech client are the product of your unique values and requirements and ITech's superior approach to delivering service and value. 
  </p>
  
  </div>
  </div>

  <div class="col-xs-3">
    <div  id="about_us" style="margin-top:40%;">
  <img src="images/why3.jpg" id="about_us"/>
  "We professionaly enjoys every moments"
  </div>
  </div>

  </div>
  <!-- End of row  -->

  <!-- features section -->
    <div class="container-fluid">
    	<section>
    		<div class="page-header">
    			<h3 style="color:#333399;">Lets Look About Clients</h3>
    		</div>

    		<div class="row">
    			<div class="col-sm-8">
    				<h4><a href="">Financial/Banking/Mortgage</a></h4>
    				<p>ITech's Financial Services practice leverages our comprehensive understanding of the industry's business and technology drivers to deliver quick and innovative solutions to an industry that thrives on speed, efficiency and bottom-line results.
ITech offers a broad range of solutions and services to address the unique needs of banks. From full outsourcing services including technology management, application management and business process services, consulting and systems integration services, to specialized banking solutions. 
					</p>
    			</div>
    			<div class="col-sm-4">
    				<img src="images/client1.jpg" class="img-responsive"  id="img_feature" alt="">
    			</div>
    		</div><!-- end of row -->
    		<br><br>
    		<div class="row">
    			<div class="col-sm-8">
    				<h4><a href="">Health care/Pharma </a></h4>
    				<p>
					ITech offers technology solutions for hospitals, health systems and other provider organizations, as well as insurance companies. Our professionals offer expertise in a wide range of areas, including HIPAA compliance, technologyconsulting.html and software development, data mining, cost reduction, claims auditing, and clinical, financial and operations consulting. ITech's success in the healthcare industry is based on a clear vision of what our clients need to increase their market share, profits and productivity and our ability to deliver proven results. 
					</p>
    			</div>
    			<div class="col-sm-4">
    				<img src="images/client2.jpg" class="img-responsive"  id="img_feature" alt="">
    			</div>
    		</div><!-- end of row -->
    		<br>
			<div class="row">
    			<div class="col-sm-8">
    				<h4><a href="">Telecom  </a></h4>
    				<p>
					ITech's proven experience in developing and integrating solutions in advanced telecommunications and OSS systems, is producing results. We are helping all parts of the industry (from carriers to equipment providers and software vendors) to capitalize on new market and technology opportunities. 
					</p>
    			</div>
    			<div class="col-sm-4">
    				<img src="images/client3.jpg" class="img-responsive"  id="img_feature" alt="">
    			</div>
    		</div><!-- end of row -->
    		<br>
			<div class="row">
    			<div class="col-sm-8">
    				<h4><a href="">Others </a></h4>
    				<p>
					ITech is committed to provide technology solutions to various industries other then the above mentioned. ITech has proven record of working in wider domain. 
					</p>
    			</div>
    			<div class="col-sm-4">
    				<img src="images/client4.jpg" class="img-responsive"  id="img_feature" alt="">
    			</div>
    		</div><!-- end of row -->
    		<br>
    	</section>    	
    </div><!-- end of features section -->

</div>
<div><br><br>