<div ng-controller="itechCtrl" style="margin-top:10px;">

<div class="container-fluid">
<div class="row">
	<div class="col-md-12" style="padding:0px;margin:0px;">
		
			<img src="images/contact.jpg" id="about_us"/>  
		
	</div>
</div>
 <!-- Start of row  --> 
  <div class="row">

  <div class="col-xs-3" style="margin-top:90px;padding:0px;font-family:serif;">
				<div class="panel panel-default">
					<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h3><span style="color:blue;">
							Reach us at</span></h3>
    						<p style="font-weight: 900;">
							Itech Software Solution Pvt. Ltd.</p>
							<address>
							SF-12, Block-C,<br>
							Mansarowar Complex,<br>
							Bhopal, M.P.<br>
							Contact : 0755-4201407,
							4700260/61/62 
							</address>
							<p>
							<span style="font-weight: 900;">Noida Office</span>
							<address>
							Sector Alpha 2,<br>
							Grater Noida,<br>
							UP 201308 
							</address>
							</p>
							<p>
							<span style="font-weight: 900;">USA Head Office</span>
							<address>
							Java R&D Labs Inc<br>
							1900 Campus Commons Drive,<br>
							Suite #100<br>
							Reston, VA 20191<br>
							<a href="http://www.javalabsinc.com" style="text-decoration: none;">Reach-Us</a> 
							</address>
							</p>
    					</div>
    				</div>
  </div>

  <div class="col-xs-6">
	
  <div class="page-header">
    <h2>Contact Us</h2>      
  </div>
  <div style="font-family: verdana,arial,helvetica,sans-serif;">
  <p>ITech always takes pleasure to respond to your inquiries and mails quickly and accurately
  </p>      
  <p>Please feel free to contact us if you have any questions or comments about our services, solutions or ITech Consultancy Services. Please provide the following information so that we can route your request to the appropriate person and thus respond to you faster. We will not share your information with anyone else. Read our Privacy Policy for more information. 
  </p>
  
  </div>
  </div>

  <div class="col-xs-3" style="margin-top:90px;">
  <div  id="about_us">
  <img src="images/img_aboutus.jpg" id="about_us"/>  
  </div>
  <div  id="about_us" style="margin-top:50%;">
  <img src="images/image.jpg" id="about_us"/>  
  </div>
  </div>

  </div>
  <!-- End of row  -->
</div>
<div>