<div ng-controller="itechCtrl" style="margin-top:10px;">
		<div style="height: 350px;width:100%;">
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in language" active="slide.active">
        <a href="#/{{slide.link}}"><img ng-src="{{slide.image}}" style="width:100%;height:350px;"/></a>        
      </uib-slide>
    </uib-carousel>
  </div>

  <!-- features section -->
    <div class="container-fluid">
    	<section>
    		<div class="page-header">
    			<h3 style="color:#333399;">About Upcoming Intervies, Celebrations and much</h3>
    		</div>

    		<div class="row">
    			<div class="col-sm-8">
    				<h4><a href="">An interview is a conversation</a></h4>
    				<p>An interview is a conversation between two or more people where questions are asked by the interviewer to elicit facts or statements from the interviewee.[1] Interviews are a standard part of qualitative research. They are also used in journalism and media reporting (see Interview (journalism)) and in various employment-related contexts.<br>
The qualitative research interview seeks to describe and the meanings of central themes in the life world of the subjects. The main task in interviewing is to understand the meaning of what the interviewees say. Interviewing, when considered as a method for conducting qualitative research, is a technique used to understand the experiences of others.
					</p>
    			</div>
    			<div class="col-sm-4">
    				<img src="images/news4.jpg" class="img-responsive"  id="img_feature" alt="">
    			</div>
    		</div><!-- end of row -->
    		<br><br>
    		<div class="row">
    			<div class="col-sm-8">
    				<h4><a href="">About Celebrations</a></h4>
    				<p>
					Professional companies often celebrates pre-designed party, where you just need to paricipate and meet our experts. Those professional parties look very nice and professional, but they will gives us chance to develop our qualities with friends like environment.
					If you are looking for an organization having very good environment with cultural
					activities ITech welcomes you.
					</p>
    			</div>
    			<div class="col-sm-4">
    				<img src="images/news3.jpg" class="img-responsive"  id="img_feature" alt="">
    			</div>
    		</div><!-- end of row -->
    		<br><br>
    		<div class="row">
    			<div class="col-sm-8">
    				<h4><a href="">The Digital Revolution</a></h4>
    				<p>
					The Digital Revolution, known as the Third Industrial Revolution, is the change from analog, mechanical, and electronic technology to digital technology which began anywhere from the late 1950s to the late 1970s with the adoption and proliferation of digital computers and digital record keeping that continues to the present day.[1] Implicitly, the term also refers to the sweeping changes brought about by digital computing and communication technology during (and after) the latter half of the 20th century. Analogous to the Agricultural Revolution and Industrial Revolution, the Digital Revolution marked the beginning of the Information Age.
					</p>
    			</div>
    			<div class="col-sm-4">
    				<img src="images/news1.jpg" class="img-responsive"  id="img_feature" alt="">
    			</div>
    		</div><!-- end of row -->
    		<br>
			<div class="row">
    			<div class="col-sm-8">
    				<h4><a href="">Digital marketing</a></h4>
    				<p>
					Digital marketing is an umbrella term for the targeted, measurable, and interactive marketing of products or services using digital technologies to reach and convert leads into customers.The key objective is to promote brands, build preference and increase sales through various digital marketing techniques. It is embodied by an extensive selection of service, product and brand marketing tactics, which mainly use the Internet as a core promotional medium, in addition to mobile and traditional TV and radio
					</p>
    			</div>
    			<div class="col-sm-4">
    				<img src="images/news2.jpg" class="img-responsive"  id="img_feature" alt="">
    			</div>
    		</div><!-- end of row -->
    		<br>
    	</section>    	
    </div><!-- end of features section -->

</div>
<div><br><br>