<div ng-controller="itechCtrl" style="margin-top:10px;">
		<div class="col-md-12" style="padding:0px;margin:0px;">
		
			<img src="images/product.jpg" id="about_us" style="height:300px;"/> 
		
		</div>
<div class="container-fluid">
 <!-- Start of row  --> 
  <div class="row">

  <div class="col-xs-3" style="margin-top:90px;padding:0px;font-family:serif;">
				<div class="panel panel-default">
					<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h3><span style="color:blue;">
							Product Services</span></h3>
    							<ul style="padding:0px;">						
									<li class="list-group-item-success"><a href="#/product">Banking</a></li><br>
									<li class="list-group-item-info"><a href="#/telecom">Telecommunication</a></li><br>
									<li class="list-group-item-info"><a href="#/other">Other Products</a></li><br>
								</ul>							
    					</div>
    				</div>
					<div style="background-color:#E5FFE5;padding:5px;">
 				
				Our unique context-passing capability and patented self-help
technology provided in an intuitive dashboard enhances agent
productivity by 25% while delivering a superior customer experience.
Enterprises using AssistEdge have realized payback in as little as
3 months.
				
 			</div>
  </div>

  <div class="col-xs-8">
	
  <div class="page-header">
	<span style="font-size:20px;color:blue;">Other services from us</span>
  </div>
  <div style="font-family: verdana,arial,helvetica,sans-serif;">
  <div  style="background-color:white;margin-top:20px;color:#000099;">
  <span style="margin:5px;font-size:18px;">Flexible and rapid deployment</span>
  <ul style="list-style-image: url('images/arrow_right.gif');color:#990099;"><br>
   <li>Scalability and elasticity of the hardware setup</li>
   <li>Deployment possibilities on public / private cloud</li>
   <li>Single-click install</li>
   <li>No vendor lock-in</li>
   </ul>
  </div><br>
  </div>
  <div  style="background-color:white;margin-top:20px;color:#000099;padding:8px;">
  <div style="margin:5px;">
  <span style="margin:5px;font-size:18px;">End-to-end data platform</span>
  <ul style="list-style-image: url('images/arrow_right.gif');color:#990099;"><br>
   <li><big>Data extractor</big> - Ingests data in near real-time from multiple sources</li>
   <li><big>Data explorer</big> - Performs data modeling with varying levels of complexity for different users</li>
   <li><big>In-memory analytics</big> - Discovers patterns in the data real-time</li>
   <li><big>Resource manager</big> - Manages and monitors resources across applications</li>
   </ul>
  </div><br>
  </div>
  <div  style="background-color:white;margin-top:20px;color:#000099;padding:8px;">
  <span style="font-size:18px;">Data science and analytics talent</span><br><br>
  <p style="color:#990099;">We have over data scientists in our consolidated analytics practice and intend to double this number in the next few months. We have taken a step forward toward nurturing the talent needs of the industry by partnering with the Institute of Computational & Mathematical Engineering (ICME) at Stanford University. As part of this collaboration, we will develop curriculum in data science and analytics focusing on real-world problems and undertake research to find solutions to key industry problems.
  </p>
  </div>

  </div>

  <div class="col-xs-1" style="margin-top:90px;padding:0px;">
			
			<div>
 				
 			</div>
  </div>

  </div>
  <!-- End of row  -->
  
</div>
<div><br><br>