<div ng-controller="itechCtrl" style="margin-top:10px;">
		<div class="col-md-12" style="padding:0px;margin:0px;">
		
			<img src="images/product.jpg" id="about_us" style="height:300px;"/> 
		
		</div>
<div class="container-fluid">
 <!-- Start of row  --> 
  <div class="row">

  <div class="col-xs-3" style="margin-top:90px;padding:0px;font-family:serif;">
				<div class="panel panel-default">
					<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h3><span style="color:blue;">
							Product Services</span></h3>
    							<ul style="padding:0px;">						
									<li class="list-group-item-success"><a href="#/product">Banking</a></li><br>
									<li class="list-group-item-info"><a href="#/telecom">Telecommunication</a></li><br>
									<li class="list-group-item-info"><a href="#/other">Other Products</a></li><br>
								</ul>							
    					</div>
    				</div>
  </div>

  <div class="col-xs-6">
	
  <div class="page-header">
	<span style="font-size:20px;color:blue;">Telecom - ITech Solution</span>
  </div>
  <div style="font-family: verdana,arial,helvetica,sans-serif;">
  <p>
  ITech's experience in developing and integrating solutions in advanced telecommunications helps our clients to gain the competitive edge. We are helping all parts of the industry to capitalize on new market and technology opportunities.
  </p>
  <div  style="background-color:white;margin-top:20px;color:#000099;"><br>
  <div style="padding:5px;">
  ITech works as software solution provider with following capabilities: 
  <ul style="list-style-image: url('images/arrow_right.gif');color:#990099;">
   <li>Providing critical mass of resources</li>
   <li>Providing solid project management team</li>
   <li>Additional value added capability</li>
   <li>Providing technology capabilities</li>
   <li>Adherence to quality standard</li>
   </ul>
  </div><br>
  </div>
  </div>
  </div>

  <div class="col-xs-3" style="margin-top:90px;padding:0px;">
			<div>
 				<blockquote>
 					<p>India is an important market for Ericsson, not only as a telecom market but also as a global hub for R&D.
					</p>
 					<footer>ITech Software Solution</footer>
 				</blockquote>
 			</div>
			<div>
 				<blockquote>
 					<p><big>Instant</big> telecommunication allows better and updated information, lessons learnt and problems encountered to be exchanged and debated, it alerts us more quickly to problems and brings to many households around the world visions and information which hopefully spur us to action.
					</p>
 					<footer>ITech Software Solution</footer>
 				</blockquote>
 			</div>
  </div>

  </div>
  <!-- End of row  -->
  <div class="well" style="margin-top:20px;">
  <span style="color:#CC3399;font-size:20px;">
  ITech's Different Telecom Services</span>
  <div class="row"><br>
	<div class="col-md-6">
		<ul style="color:blue;list-style-image: url('images/arrow_right.gif');">
		<li>Accounting system</li>
		<li>Billing system</li>
		<li>Complaint management system</li>
		<li>Customer registration system</li>
		<li>Decision support system</li>
		</ul>
	</div>
	<div class="col-md-6">
	<ul style="color:blue;list-style-image: url('images/arrow_right.gif');">
		
		<li>Service provisioning system</li>		
		<li>Service and subscriber information system</li>		
		<li>Value added services</li>		
		<li>CRM & Data Warehousing Solutions</li>
		<li>Network Management</li>
   </ul>
   </div>
   </div>
  </div>
</div>
<div><br>