<div ng-controller="itechCtrl" style="margin-top:10px;">
		<div class="col-md-12" style="padding:0px;margin:0px;">
		
			<img src="images/product.jpg" id="about_us" style="height:300px;"/> 
		
		</div>
<div class="container-fluid">
 <!-- Start of row  --> 
  <div class="row">

  <div class="col-xs-3" style="margin-top:90px;padding:0px;font-family:serif;">
				<div class="panel panel-default">
					<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h3><span style="color:blue;">
							Product Services</span></h3>
    							<ul style="padding:0px;">						
									<li class="list-group-item-success"><a href="#/product">Banking</a></li><br>
									<li class="list-group-item-info"><a href="#/telecom">Telecommunication</a></li><br>
									<li class="list-group-item-info"><a href="#/other">Other Products</a></li><br>
								</ul>							
    					</div>
    				</div>
					<img src="images/banking.jpg" id="img_home" style="margin-top:20%;"/>
  </div>

  <div class="col-xs-6">
	
  <div class="page-header">
	<span style="font-size:20px;color:blue;">Banking</span>
  </div>
  <div style="font-family: verdana,arial,helvetica,sans-serif;">
  <p>
  ITech's success in the financial industry is based on a clear vision of what our clients need to increase their market share, profits and productivity and our ability to deliver proven results.
  </p>      
  <p>
   The financial services industries have grown tremendously in past two decades, spawning many challenges and rising through a competitive edge. Deregulation forced banks to be more competitive and enter into entire gamut of services including retail, investor and wholesale services.
   </p>
   <p>
   ITech understands the banking requirement and we are committed to address the unique needs of banks. ITech brings you the competitive advantage with the following objective:
   <ul style="list-style-image: url('images/arrow_right.gif');color:#000099;">
   <li>To satisfy new regulatory environment (privacy, accounting and so on)</li>
   <li>To improve business process</li>
   <li> 	

To improve customer quality through IT</li>
   </ul>
   </p><br>
   <p>
   ITech's buffet of financial service consists of domain experts, technical consultants and business analysts who have been proved to establish the excellence in service by addressing specific pain areas in the industry.
   </p>   
  </div>
  </div>

  <div class="col-xs-3" style="margin-top:90px;padding:0px;">
			<div>
 				<blockquote>
 					<p>It is not by augmenting the capital of the country, but by rendering a greater part of that capital active and productive than would otherwise be so, that the most judicious operations of banking can increase the industry of the country.</p>
 					<footer>ITech Software Solution</footer>
 				</blockquote>
 			</div>
			<div>
 				<blockquote>
 					<p>Our innovation involved taking an idea from the telecommunications and banking industries, and applying that idea to transportation business.</p>
 					<footer>ITech Software Solution</footer>
 				</blockquote>
 			</div>
  </div>

  </div>
  <!-- End of row  -->
  <div class="well" style="margin-top:20px;">
  <span style="color:#9900CC;font-size:20px;">
  ITech's Different Services In Banking</span>
  <div class="row"><br>
	<div class="col-md-6">
		<ul style="color:blue;list-style-image: url('images/arrow_right.gif');">
		<li>New Business Acquisition</li>
		<li>Claims Administration</li>
		<li>Patients' Records Regulation and reporting</li>
		<li>Disbursements</li>
		<li>Treasury Management</li>
		</ul>
	</div>
	<div class="col-md-6">
	<ul style="color:blue;list-style-image: url('images/arrow_right.gif');">
		
		<li>Policy Administration</li>		
		<li>Agency Administration</li>		
		<li>Billing</li>		
		<li>E-transformation</li>
		<li>Loan Administration</li>
   </ul>
   </div>
   </div>
  </div>
</div>
<div><br>