<div ng-controller="itechCtrl" style="margin-top:10px;">

<div class="container-fluid">
 <!-- Start of row  --> 
  <div class="row">
	<div class="col-md-12" style="padding:0px;margin:0px;">
		
			<img src="images/about_us.jpg" id="about_us"/>  
		
	</div>
  <div class="col-xs-3">
	<div class="panel panel-default" style="margin-top:100px;">
					<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h3><span style="color:blue;">
							About us</span></h3>
    						   <ul style="padding:0px;">						
									<li class="list-group-item-success"><a href="#/about_us">Itech Software Solution</a></li><br>
									<li class="list-group-item-info"><a href="#/business_strategies">Business Strategies</a></li><br>
									<li class="list-group-item-success"><a href="#/vision">Itech Vision</a></li>
								</ul>
    					</div>
    				</div>
  </div><!-- End of col-xs-3  -->

  <div class="col-xs-6">
	
  <div class="page-header">
	<span style="font-size:20px;">About Our Values</span>      
  </div>
  <div style="font-family: verdana,arial,helvetica,sans-serif;">
  <p>ITech strives to produce innovative products and services that meet our customers' evolving needs and exceed their expectations. Our success is driven by demanding measurable quality in all that we do, in order to create exceptional value for our clients, our employees, and the people who invest in our company. We look forward to
serve you.
  </p>      
  
   <span style="font-family:serif;color:blue;">Vision</span>
   <p>
	To be globally recognized for increasing business efficiency.
  </p>
  <span style="font-family:serif;color:blue;">Mission</span>
  <p>
  To provide innovative business software solutions to make our clients' business effective & efficient, thereby providing the greatest return on investment.
  </p>
  <span style="font-family:serif;color:blue;">Values</span>
  <p>
	Integrity, leading change, excellence, respect for the individual, learning and sharing.
  </p>
  </div>
  </div>

  <div class="col-xs-3">
  <div  id="about_us" style="margin-top:100px;">
  <img src="images/vission.jpg" id="about_us"/>
  "We always aim to exceed our client's expectations"
  </div>
  </div>

  </div>
  <!-- End of row  -->
</div>
<div><br>