<div ng-controller="itechCtrl" style="margin-top:10px;">

<div class="container-fluid">
 <!-- Start of row  --> 
  <div class="row">
	<div class="col-md-12" style="padding:0px;margin:0px;">
		
			<img src="images/why.jpg" id="about_us"/>  
		
	</div>
  <div class="col-xs-3"  style="padding:0px;">
	<div class="panel panel-default" style="margin-top:90px;">
					<span class="glyphicon glyphicon-eye-open" style="float:right;color:blue;">-Tech</span>
    					<div class="panel-body">    					
    						<h3><span style="color:blue;">
							About us</span></h3>
    						   <ul style="padding:0px;">						
									<li class="list-group-item-success"><a href="#/why">ITech Info</a></li><br>
									<li class="list-group-item-info"><a href="#/clients">Our Clients</a></li><br>
								</ul>
    					</div>
    				</div>
  </div><!-- End of col-xs-3  -->

  <div class="col-xs-6">	
  <div class="page-header">
    <span style="font-size:20px;">Why to join ITech</span>            
  </div>
  <div style="font-family: verdana,arial,helvetica,sans-serif;">
  <p>We feel we can reach our continued growth, by focusing and assisting our clients to meet their technological goals and objectives at a reasonable price. One common purpose of our management & staff is to ensure that every client reaches a maximum return on their technology investment dollar. When you start with ITech, you'll stay with ITech - the reasons clients start with us and the reasons they stay with us aren't always the same. But they're all part of the ITech experience.
  </p>      
  <p>The benefits you derive as an ITech client are the product of your unique values and requirements and ITech's superior approach to delivering service and value. 
  </p>
  
  </div>
  </div>

  <div class="col-xs-3">
    <div  id="about_us" style="margin-top:40%;">
  <img src="images/about.jpg" id="about_us"/>
  "Good business always needs very good service "
  </div>
  </div>

  </div>
  <!-- End of row  -->

  <!-- features section -->
    <div class="container-fluid">
    	<section>
    		<div class="page-header">
    			<h3 style="color:#333399;">About Our Environment, Facilities</h3>
    		</div>

    		<div class="row">
    			<div class="col-sm-8">
    				<h4><a href="">Work Celebration</a></h4>
    				<p>It is better to lead from behind and to put others in front, especially when you celebrate victory when nice things occur.<br>
					You take the front line when there is danger. Then people will appreciate your leadership.
					</p>
					<p>
					We always celebrates our works experience with co-workers.<br>
					ITech always tries to make employees happy.
					</p>
    			</div>
    			<div class="col-sm-4">
    				<img src="images/why1.jpg" class="img-responsive"  id="img_feature" alt="">
    			</div>
    		</div><!-- end of row -->
    		<br><br>
    		<div class="row">
    			<div class="col-sm-8">
    				<h4><a href="">About ITech's Happy Moments</a></h4>
    				<p>
					We always learns to enjoy every minute of our life.<br>
					Be happy now. Don't wait for something outside of yourself to make you happy in the future, specialy if talking about professional.<br>
					Think how really precious is the time you have to spend, whether it's at work or with your family.<br>
					We think - Every minute should be enjoyed and savored, in professional way.
					</p>
    			</div>
    			<div class="col-sm-4">
    				<img src="images/why2.jpg" class="img-responsive"  id="img_feature" alt="">
    			</div>
    		</div><!-- end of row -->
    		<br>
    	</section>    	
    </div><!-- end of features section -->

</div>
<div><br><br>