<div ng-controller="examCtrl">
<div class="container" style="margin-top:100px;">
	<div class="row">
	    <div class="col-sm-2"></div>
		<div class="col-sm-10">
		   <div class="panel panel-default" ng-repeat="record in records">
		   		<div class="panel-heading">
		   			Question.{{record.Questions[step].Id}} <b>::</b>&nbsp; {{record.Questions[step].Que}}
		   		</div>
		   		<div class="panel-body">
		   			<ul  ng-repeat="pos in position" style="list-style-type:none">
		   				<li><input type="radio" ng-model='record.Questions[step].Options[pos].Ans' name='ans' ng-change='change({{record.Questions[step].Options[pos].Ans}})'>
		   				{{record.Questions[step].Options[pos].Opt}}</li>
		   			</ul><hr>
					<div ng-show='btn_1'>
		   			<input type="submit" value="Prev" ng-click='prev()' class="btn btn-danger">
		   			<input type="submit" value="Next" ng-click='next()' style="margin-left:15%;"class="btn btn-info">
					</div>

					<div ng-show='btn_2'>		   			
		   			<input type="submit" value="Submit" ng-click='result()' style="margin-left:30%;"class="btn btn-info">
					</div>
	<div class="row" ng-show='final_result'><hr>
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="alert alert-warning fade in">
				<a href="" class="close" data-dismiss="alert">&times;</a>
                
				Write answeres :{{write}}<br>
				Wrong answeres :{{wrong}}<br>
				
				<!--Not answered :{{no_ans}}-->
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>

		   		</div>
		   </div>
		</div>
	</div>
</div>
</div>