<div class="jumbotron" style="height:110px;margin-top:10px;">
    <div class="container text-center">              
        <div class="btn-group">
        
            
            <a href="#/register" class="btn btn-lg btn-info">Register</a>
            <a href="#/login" class="btn btn-lg btn-info">Goto Home</a>  
            <!-- 
            <a href="#/book" class="btn btn-lg btn btn-primary">Add Book</a>
            <a href="./BookIssue" class="btn btn-lg btn-warning">Issue Book</a>
            <a href="#/adminControl" class="btn btn-lg btn-info">Control Panel</a>
             
            <a href="" ng-click="getPersons('/personList')">Person List</a>
            <a href="" ng-click="getBooks('/bookList')" style="margin-left:10px;">Book List</a>
            <a href="" ng-click="issuedBooks('/issued')" style="margin-left:10px;">Issued Book List</a>
            <a href="" ng-click="issueResource('/issueResource')" style="margin-left:10px;">Issue Resource</a>
             -->
        </div>        
    </div>
 </div>
 
