<footer>
            <div class="container text-right navbar-fixed-bottom"  id="footer">                            
                <ul class="list-inline" style="margin-top: 5px;">
                    <li><a href="http://www.twitter.com">Twitter</a></li>
                    <li><a href="http://www.facebook.com">Facebook</a></li>
                    <li><a href="http://www.youtube.com">YouTube</a></li>
                </ul>
                <div>&copy; Copyright @ Itech Software pvt. ltd. 2015....created & designed by Sheikh</div>
            </div>
</footer>