<!-- Navbar -->
 <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
   <div class="container" id="header"><!-- container -->
        
     <div><big>Angular js based assignment/test</big><small style="font-size: 10px;">...sheikh</small></div>
             
   </div>  <!-- End of container -->
</nav><br>
<!-- End of navbar -->

<!-- jumbotron -->
<div class="jumbotron" style="height:130px;">
    <div class="container text-center">        
        <div class="btn-group" style="margin-top:20px;">

    <a href="#/" class="btn btn-lg btn-info" ng-class="{'btn-danger':flag1}" ng-click="change(1);">HOME</a>
    <a href="#/editor" class="btn btn-lg btn-info" ng-class="{'btn-danger':flag2}" ng-click="change(2);">PROJECTS</a>
	<a href="#/services" class="btn btn-lg btn-info" ng-class="{'btn-danger':flag3}" ng-click="change(3);">SERVICES</a>      
    <a href="#/order" class="btn btn-lg btn-info" ng-class="{'btn-danger':flag5}" ng-click="change(5);">ORDER</a> 
	<a href="#/contact" class="btn btn-lg btn-info" ng-class="{'btn-danger':flag4}" ng-click="change(4);">CONTACT</a> 
	
        </div>        
    </div>
 </div>
 <!-- End jumbotron -->
